html 
    head 
        title Sigurnost Weba
    body        
        table(style='width:50%', border='5')
            tr
                th  
                th Klub
            if clubs != undefined
                each c, index in clubs
                    tr
                        td= index+1
                        td= c
            else 
                tr 
                    td=2
                    td= 4    