html 
    head 
        title Sigurnost weba
    body
        if user
            h1 Welcome #{user.username}  
        ul 
            li: a(href='/', title='Home') Home
            li: a(href='/private') Private content 