html 
    head 
        title Sigurnost weba
    body
        if user
            h1 Welcome #{user.username}  
        ul 
            li: a(href='/', title='Home') Home
            li: a(href='/private') Private content 
        p Ukucavanjem /admin umjesto /private u address bar dolazi se na stranicu na koju se ne može doći drugačije, čime se narušava kotrola pristupa